fastapi
uvicorn
pydantic
pandas
openpyxl
sentence-transformers
torch
transformers
numpy
scikit-learn
sentencepiece
rank-bm25
starlette
requests
psycopg2-binary
sqlalchemy
pgvector
protobuf
redis
newspaper3k
beautifulsoup4
lxml
schedule
lxml_html_clean
passlib[bcrypt]
pyjwt
python-dotenv
